<br/>
<h2> Operation Planified </h2>
<br/>
<ul>
<li>
Operation Description : {{card.data.operationDescription}}
<li>
Operation Responsible :  {{card.data.operationResponsible}}
<li>
Contact Point :  {{card.data.contactPoint}}
<li>
Beginning of the operation  :  {{card.data.operationStartingTime}}
<li>
End of the operation :  {{card.data.operationEndTime}}
<li>
Comment :  {{card.data.comment}}
</ul>

